<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Convert Date!</title>
</head>
<body>
    <div class='container'>
        <h1>Your new date:</h1>
        <h4>{{ result }}</h4>
        <hr>
      <form action='/'>
          <div class='form-group'>
            <label>Back to Home:</label>
          </div>
          <button type='submit' class='btn-success'>GO!</button>
      </form>
    </div>
</body>
</html>
